* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  min-width: 320px;
  background-color: #fcf3e9;
  font-family: "GT-Pressura-Mono-Light", monospace;
  letter-spacing: 0.02rem;
}


@media screen and (min-width: 768px) {
  body {
    background-color: #000;
    margin: 60px 0;
  }
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}