@font-face {
  font-family: GT-Pressura-Mono-Light;
  src: url("../Fonts/GT-Pressura-Mono-Light.ttf");
}

@font-face {
  font-family: GT-Pressura-Mono-Regular;
  src: url("../Fonts/GT-Pressura-Mono-Regular.ttf");
}

@font-face {
  font-family: GT-Pressura-Mono-Bold;
  src: url("../Fonts/GT-Pressura-Mono-Bold.ttf");
}