.Icon-smallContainer {
  width: 32px;
}

.Icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
}

.Icon {
  width: 120px;
  height: 120px;
}

.Icon-small {
  height: 22px;
}